@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
}

.visabitily {
  visibility: inherit;
  opacity: 1;

  .drawer {
    transform: translateX(0);

  }

}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
  width: 385px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: 0.3s;
}

.cart {
  @include flex;

  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  .closeCart {
    font-size: 16px;
    width: 32px;
    height: 32px;
    border: 1px solid #cacaca;
    border-radius: 8px;
    color: #cacaca;
    font-weight: 700;
    transition: 0.5s;
  
    &:hover {
      border: 1px solid lightcoral;
      color: lightcoral;
    }
  
    &:active {
      background: lightcoral;
      color: #fff;
    }
  }
}

.addedItems,
.emptyCart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  flex: 1;
  overflow: auto;
  
}

.emptyCart {
  justify-content: center;
  align-items: center;
}



.money {
  @include flex;
  margin-top: 20px;

  span {
    font-weight: 500;
    font-size: 16px;
  }

  div {
    flex: 1;
    border-bottom: 1px dashed #dfdfdf;
    margin: 0 10px;
    height: 11px;
  }
}

.greenBtn {
  border-radius: 18px;
  background: #9dd458;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
  transition: 0.5s;
  position: relative;

  img {
    margin-left: 100px;
    position: absolute;
    top: 13px;
    right: 70px;
    transition: 1s;
  }

  &:hover {
    background: lighten(#9dd458, 5%);

    img {
      right: 40px;
    }
  }

  &:active {
    background: darken(#9dd458, 5%);
  }
}

@media (max-width: 500px) {
  .drawer {
    width: 100%;
  }

  .money {
    @include flex;
    margin-top: 10px;
  
    span {
      font-weight: 500;
      font-size: 13px;
    }
  
    b {
      font-size: 13px;
    }

    div {
      flex: 1;
      border-bottom: 1px dashed #dfdfdf;
      margin: 0 10px;
      height: 11px;
    }
  }
}

@media (max-width: 370px) {
  .greenBtn {

    img {
      right: 50px;
    }
  }
}

